<mat-sidenav-container fullscreen >

    <mat-sidenav #sidenav>
        <mat-toolbar color="primary">
            <span class="example-spacer"></span>
            <span>WebSitie</span>
            <span class="example-spacer"></span>
        </mat-toolbar>

        <mat-nav-list>
            <a mat-list-item routerLink="./buscar" (click)="sidenav.close()" >
                <label>Search</label>
                <mat-icon mat-list-icon > 
                    search
                </mat-icon>
            </a>

            <a mat-list-item routerLink="./agregar" (click)="sidenav.close()" >
                <label>Add</label>
                <mat-icon mat-list-icon >
                    add
                </mat-icon>
            </a>

            <a mat-list-item routerLink="./listado"  (click)="sidenav.close()">
                <label>List</label>
                <mat-icon mat-list-icon >
                    list
                </mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>


    <mat-toolbar>
        <button mat-button (click)="sidenav.open()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
        <span class="example-spacer"></span>
        <button mat-button (click)="logout()">
            <mat-icon>
                logout
            </mat-icon>
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>

