<div class="mt-0">

    <mat-form-field class="example-full-width" style="width: 100%;">
        <h2>Search your anime</h2>
      <input type="text"
             aria-label="Number"
             matInput
             [(ngModel)]="termino"
             (input)="buscando()"
             [matAutocomplete]="auto">
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="animeSelected($event)">
        <mat-option *ngFor="let anime of anime" [value]="anime">
          {{anime.titulo}}
        </mat-option>

        <mat-option value="" *ngIf="anime.length == 0 && termino.trim().length> 0">
          No se encontró nada con el termino {{termino}}
        </mat-option>  <!-- NO COMPRENDI ESTA PARTE -->

      </mat-autocomplete>
    </mat-form-field>
    
    <div *ngIf="animeSelecionado!" style="margin-top: -100px;">
        <app-cards2-anime [anime]="animeSelecionado" ></app-cards2-anime>
    </div>
</div>
